/* Conteneur de l'hôte */
.host-container {
    position: absolute; /* Positionnement absolu */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne tout à gauche */
    text-align: left;
    right: 4%;
    padding: 10px;
    border-radius: 8px;
    top:83%;
    z-index: 10; /* Assure que le conteneur est au-dessus de la photo */
}

/* Informations sur l'hôte */
.host-info {
    display: flex;
    align-items: center; /* Aligne le nom et la photo verticalement */
    gap: 10px; /* Espace entre le nom et la photo */
}

/* Nom de l'hôte */
.host-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}

/* Photo de l'hôte */
.host-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Appréciation de l'hôte */
.host-appreciation {
    font-size: 14px;
    color: #ff6060;
    line-height: 1.6;
    margin-top: 10px;
}

.collapse-container > div {
    flex: 1; /* Les collapses prennent chacun 50% de la largeur */
}
.star {
    color: black;
}
.star.filled {
    color: #ff6060; /* Couleur rouge pour les étoiles pleines */
}