.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Place le contenu en bas */
  align-items: center;
  
  height: 209px;
  background-color: #000;
  
  width: 100%; /* Prend toute la largeur de l'écran */
}

.footer-container img {
  width: 100%; /* Le logo prend toute la largeur du footer */
  height: auto; /* Maintient les proportions du logo */
}

.footer-text {
  color: #fff;
  font-size: 24px;
}

