body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; /* Important pour éviter les marges par défaut */
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Prend tout l'espace disponible */
}

/* Footer amélioré */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28.56px;
  height: 209px;
  background-color: #000;
  width: 100%;
  padding: 20px 0; /* Ajout de padding */
  margin-top: auto; /* Clé pour fixer le footer en bas */
}

.footer-container img {
 
  height: auto;
}

.footer-text {
  color: #fff;
  font-size: 24px;
  margin: 0; /* Supprime les marges par défaut */
}

/* Nouvelle classe pour les images dans le footer */
.footer-text-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Version mobile */
@media (max-width: 768px) {

  .footer-text {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer-text-img {
    max-width: 80vw;
  }
}
