/* Conteneur principal */
.Error404 {
    text-align: center;
    padding: 2rem; /* Ajoute un peu de marge intérieure */
}

/* Code d'erreur 404 */
.Error404__status-code {
    margin: 6rem 0 3rem 0;
    font-size: 12rem; /* Taille par défaut pour les grands écrans */
    font-weight: 700;
    color: #ff6060;
}

/* Texte explicatif */
.Error404__text {
    font-size: 2rem; /* Taille par défaut pour les grands écrans */
    color: #333;
    margin-bottom: 2rem;
    color: #ff6060;
}

/* Lien vers la page d'accueil */
.Error404__link-to-home {
    display: inline-block;
    margin: 4rem 0;
    color: #ff6060;
    font-size: 1.5rem; /* Taille par défaut pour les grands écrans */
    text-decoration: underline;
}

/* Styles responsives */
@media screen and (max-width: 1024px) { /* Tablettes */
    .Error404__status-code {
        font-size: 10rem; /* Réduit la taille du code d'erreur */
        margin: 4rem 0 2rem 0;
    }

    .Error404__text {
        font-size: 1.8rem; /* Réduit légèrement la taille du texte */
    }

    .Error404__link-to-home {
        font-size: 1.3rem; /* Réduit légèrement la taille du lien */
    }
}

@media screen and (max-width: 768px) { /* Petites tablettes et grands mobiles */
    .Error404__status-code {
        font-size: 8rem; /* Réduit davantage la taille du code d'erreur */
        margin: 3rem 0 1.5rem 0;
    }

    .Error404__text {
        font-size: 1.5rem; /* Réduit la taille du texte */
    }

    .Error404__link-to-home {
        font-size: 1.2rem; /* Réduit la taille du lien */
    }
}

@media screen and (max-width: 480px) { /* Mobiles */
    .Error404__status-code {
        font-size: 6rem; /* Taille adaptée aux petits écrans */
        margin: 2rem 0 1rem 0;
    }

    .Error404__text {
        font-size: 1.2rem; /* Texte plus petit pour les mobiles */
    }

    .Error404__link-to-home {
        font-size: 1rem; /* Lien plus petit pour les mobiles */
        margin: 1.5rem 0;
    }
}